html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.content {
  max-width: 1040px;
  padding: 0 1rem;
  margin: 0 auto;

}

.container {
  min-height: 80vh;
}
nav {
  margin: 1rem auto;
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid #eaeaea;
}

nav a {
  margin-left: 12px;
}

nav .logo {
  margin-right: auto;
}

h2 {
  margin: 0;
}

/* Not found page */

.main-notFound {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fof {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fof h3 {
  font-size: 25px;
  padding-right: 12px;
  animation: type 0.5s alternate infinite;
}

@keyframes type {
  from {
    box-shadow: inset -3px 0px 0px #888;
  }
  to {
    box-shadow: inset -3px 0px 0px transparent;
  }
}

/* Footer */

.footer {
  display: flex;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}
